<style>
    #check {
        width: 100%;
        min-height: 300px;
        background: grey;
    }
    #main {
        width: 75%;
        height: 300px;
        background: lightblue;
        margin: 0px auto;
    }
    .options {
        width: 20%;
        height: 40px;
        backgrond: green;
        margin: 40px auto 0px auto;
    }
    .but {
        border-radius: 50px;
        padding: 5px 15px;
        text-align: center;
    }
    .images {
        width: 105%;
        height: 80px;
        background: brown;
        margin: 0px auto;
    }
    .on {
        width: 60px;
        height: 60px;
        background-color: red;
        margin: 10px 10px 0px 10px;
        float: left;
    }
    .on:hover {
        cursor: pointer;
    }
</style>